// COLORS
@import 'colors';
// COMPONENTS
@import 'components/_header';
@import 'components/_photoslist';
@import 'components/_photocontainer';
// COMPONENTS PARTS
@import 'components/_parts/_likebox';
@import 'components/_parts/_loginbox';
@import 'components/_parts/_logform';
// GRAPH
@import 'components/graphs/_histogramme';
@import 'components/graphs/_likeovertime';
@import 'components/graphs/_topposter';
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(238, 238, 238);
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
    @media only screen and (min-width: 751px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 750px;
    }
    @media only screen and (max-width: 750px) {
        width: 100%;
    }
}