.like-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    color: $blue;
    width: 10%;
    cursor: pointer;
    span.number {
        position: absolute;
        font-size: 18px;
        font-weight: 900;
        text-align: center;
        vertical-align: middle;
        vertical-align: middle;
        line-height: 50px;
    }
    .anticon svg {
        font-size: 50px;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    &:hover {
        .anticon svg {
            path:first-child {
                fill: $pink;
            }
        }
    }
}