.login-box {
    z-index: 999;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    right: 0px;
    width: 50%;
    padding: 10px;
    font-weight: 500;
    text-transform: capitalize;
    span {
        line-height: 1;
    }
}