.log-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 40px 50px 10px 50px;
    width: 100%;
    .ant-form-item {
        width: 50%;
    }
    .button-submit {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 575px) {
    .ant-form-item-control-wrapper {
        width: initial;
    }
}