.header {
    position: relative;
    height: 100px;
    background-color: $white;
    width: 100%;
    margin-bottom: 20px;
    font-weight: 900;
    .bread {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90%;
        width: 100%;
        padding: 20px 50px;
    }
    .ant-breadcrumb-link {
        font-size: 18px;
    }
    .hidden-link {
        position: absolute;
        display: flex;
        justify-content: flex-start;
        font-size: 12px;
        width: 50%;
        padding: 10px;
        font-weight: 500;
        text-transform: capitalize;
    }
}