.photo-container {
    opacity: 0;
    margin-bottom: 20px;
    width: 100%;
    header {
        display: flex;
        justify-content: space-between;
        align-content: center;
    }
    .ant-card-body {
        padding: 0px;
    }
    .ant-card-meta {
        width: 90%;
        margin: 20px;
        line-height: 1.2;
    }
    .ant-card-meta-description {
        font-size: 12px;
    }
    .ant-card-meta-title {
        white-space: normal;
    }
    img.photo {
        width: 100%;
    }
    &.active {
        opacity: 1;
        transition: opacity 200ms ease-in;
    }
}