.ant-modal {
    width: 600px !important;
    height: 100%;
    top: 0px;
    padding: 10px !important;
    .ant-modal-body {
        height: 0px;
        padding: 0px;
    }
    .ant-modal-confirm-content {
        img {
            display: flex;
            align-content: center;
            align-items: center;
            width: 100%;
        }
    }
    .ant-btn {
        display: none;
    }
}

.histogramme {
    margin: 20px 0px;
    padding: 20px;
    width: 1300px;
    background-color: white;
    header {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 900;
    }
    .yAxis {
        .domain {
            display: none;
        }
        .tick {
            stroke: #bfbfbf;
            stroke-dasharray: 1;
            stroke-opacity: .5;
        }
    }
    .xAxis {
        .tick {
            text {
                // transform: rotate(-45deg) translate(-25px, 0px)
            }
        }
    }
    .group-thumbs {
        .thumb {
            border-radius: 10px;
            border: 1px solid;
        }
    }
}