.like-over-time {
    margin: 20px 0px;
    padding: 20px;
    width: 1300px;
    background-color: white;
    header {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 900;
    }
    .line {
        fill: none;
        stroke: $blue;
        stroke-width: 3;
    }
    .yAxis {
        .domain {
            display: none;
        }
        .tick {
            stroke: #bfbfbf;
            stroke-dasharray: 1;
            stroke-opacity: .5;
        }
    }
}