.top-poster {
    margin: 20px 0px;
    padding: 20px;
    width: 1300px;
    background-color: white;
    header {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 900;
    }
    .yAxis {
        .domain {
            display: none;
        }
        .tick {
            line {
                display: none;
            }
            text {
                transform: translate( 10px, 0px);
            }
        }
    }
    .xAxis {
        .tick {
            stroke: #bfbfbf;
            stroke-dasharray: 1;
            stroke-opacity: .5;
        }
    }
    .group-bars {
        .bar {
            fill: $lgrey;
        }
    }
}